.cmt-box {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.cmt-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.cmt-group__item {
    margin-bottom: 1rem;
}

.cmt-group__item:nth-child(n+2) {
    margin-left: 4rem;
}

.cmt-group__avatar {
    /* display: inline-block; */
    float: left;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-size: cover;
}

.cmt-detail {
    /* display: inline-block; */
    overflow: hidden;
    background-color: var(--silver);
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
}

.cmt-detail>p {
    margin: 0;
    color: var(--black);
}

.cmt-detail__name {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
}

a.cmt-detail__name {
    text-decoration: none !important;
    color: var(--black);
}

a.cmt-detail__name:hover {
    color: var(--theme-color);
}

.cmt-toolkit {
    margin-top: 1rem;
}

.cmt-toolkit__item {
    display: inline-block;
    margin-right: 0.5rem;
}

.cmt-toolkit__link {
    color: var(--black);
    font-weight: 600;
}

.cmt-toolkit__link:hover {
    color: var(--gray);
}