@import url(./core.css);

/* Navigation panel */
.navbar {
    background-color: var(--silver);
}

.navbar__brand {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

.navbar__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
}

.navbar__list-item {
    margin: 0 0.6rem;
}

.navbar__list-text {
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
    margin: auto;
}

.navbar__link {
    text-decoration: none !important;
}

.navbar__link:hover {
    color: var(--gray);
}

.navbar__search {
    position: relative;
}

.navbar__search-textbox {
    border: none;
    border-radius: 1rem;
    background-color: var(--light-gray);
    padding: 0.25rem 1rem;
    padding-right: 2.5rem;
}

.navbar__search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

/* main */
.main {
    margin-top: 1rem;
}

.row>.thumb {
    margin: 2px;
    padding: 0;
}

.thumb__wrapper {
    position: relative;
    cursor: pointer;
    padding: 2px;
    /* background-color: var(--silver); */
}

.thumb__img-panel::before {
    content: "";
    display: block;
    padding-top: 140%;
}

.thumb__img-panel--round {
    border-radius: 10px;
}

.thumb__img-panel {
    position: relative;
    overflow: hidden;

}

.thumb__img-panel:hover,
.thumb:hover .thumb__img-panel {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) cover;

    transition: transform 0.5s;
}

.thumb__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% 100%;
}

.thumb__title {
    text-align: center;
}

.thumb__link-text:hover,
.thumb:hover .thumb__link-text {
    color: var(--maroon);
}

.thumb__link-text {
    text-decoration: none !important;
    color: var(--black);
    font: 700 1rem "Noto Sans KR", sans-serif;
}