@import url(./core.css);

/* Navigation panel */
.navbar {
    background-color: var(--silver);
}

.navbar__brand {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

.navbar__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
}

.navbar__list-item {
    margin: 0 0.6rem;
}

.navbar__list-text {
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
    margin: auto;
}

.navbar__link {
    text-decoration: none !important;
}

.navbar__link:hover {
    color: var(--gray);
}

.navbar__search {
    position: relative;
}

.navbar__search-textbox {
    border: none;
    border-radius: 1rem;
    background-color: var(--light-gray);
    padding: 0.25rem 1rem;
    padding-right: 2.5rem;
}

.navbar__search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

/* main */
.main {
    margin-top: 1rem;
}

.title-section {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.title-section .title--underline {
    border-bottom: 0.1rem solid var(--black);
    margin-right: 0.5rem;
}

.title-section .title--bold {
    font-weight: 700;
}

.title-section .title--background {
    padding: 0 0.25rem;
    color: var(--white);
    background-color: var(--navy);
}

.title-tab.title-tab--active {
    color: var(--black);
    font-weight: 700;
}

.title-tab {
    color: var(--gray);
    font-size: 1rem;
    cursor: pointer;
}

.title-tab+.title-tab {
    margin-left: 0.5rem;
}

.row>.thumb {
    margin-bottom: 1rem;
}

.thumb__link {
    text-decoration: none !important;
}

.thumb__wrapper {
    position: relative;
    cursor: pointer;
    /* background-color: var(--silver); */
}

.thumb__img-panel::before {
    content: "";
    display: block;
    padding-top: 140%;
}

.thumb__img-panel--round {
    border-radius: 0.5rem;
}

.thumb__img-panel--shadow {
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.thumb__img-panel {
    position: relative;
    overflow: hidden;

}

.thumb__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% 100%;
}

.thumb__caption {
    text-align: center;
    color: var(--black);
    font: 700 1rem "Noto Sans KR", sans-serif;
    height: 2.3rem;
    overflow: hidden;
    margin-top: 0.5rem;
}

.thumb__caption:hover,
.thumb:hover .thumb__caption {
    color: var(--olive);
}