@import url(./core.css);
@import url(./header.css);
@import url(./comment.css);

/* Common classes */
.no-decor {
    text-decoration: none !important;
}

.theme-hover:hover {
    color: var(--theme-color);
}

.basic-btn {
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.basic-btn:focus {
    outline: none;
}

.basic-btn:active {
    transform: translateY(0.1rem);
}

.basic-btn--green {
    background-color: #5cb85c;
    border-color: var(--lime);
    color: var(--white);
}

.basic-btn--green:hover {
    background-color: #449d44;
    border-color: var(--green);
}

.basic-btn--red {
    background-color: #d9534f;
    border-color: var(--red);
    color: var(--white);
}

.basic-btn--red:hover {
    background-color: #c9302c;
    border-color: var(--maroon);
}


/* main */
.main {
    margin-top: 1rem;
}

.title-section {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
}

.title.title--underline {
    border-bottom: 0.1rem solid var(--black);
    margin-right: 0.5rem;
}

.title.title--bold {
    font-weight: 700;
}

.title.title--background {
    padding: 0 0.25rem;
    color: var(--white);
    background-color: var(--navy);
}

.tab-section {}

.tab-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding: 0;
}

.tab {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-weight: 700;
    color: var(--gray);
    transition: color 0.2s ease-in-out;
}

.tab.active {
    color: var(--black);
}

.tab+.tab {
    margin-left: 0.5rem;
}

.img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% 100%;
}

.img-wrapper--border {
    border: 1px solid var(--gray);
}

.img-wrapper--round {
    border-radius: 0.5rem;
}

.img-wrapper--shadow {
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

/* basic section */
.basic-section {
    margin-bottom: 1rem;
    background-color: var(--white);
    padding: 0;
    border: 1px solid var(--light-gray);
    border-radius: 0.25rem;
}

.basic-section__header {
    display: flex;
    align-items: center;
    background-color: var(--silver);
    min-height: 3rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.basic-section__header>h1,
.basic-section__header>h2,
.basic-section__header>h3,
.basic-section__header>h4,
.basic-section__header>h5,
.basic-section__header>h6 {
    margin: 0;
}

/* list panel */

.list-panel {
    list-style: none;
    padding: 0;
    display: none;
    transition: all 0.2s ease-in-out;

}

.list-panel.active {
    display: block;
    animation: fadeIn 0.2s ease-in-out;
}

.list-panel__item {
    margin-bottom: 1rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-panel__rank {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    user-select: none;
}

.list-panel__item:first-child>.list-panel__rank {
    background-color: var(--golden);
}

.list-panel__item:nth-child(2)>.list-panel__rank {
    background-color: var(--fuchsia);
}

.list-panel__item:nth-child(3)>.list-panel__rank {
    background-color: var(--olive);
}

.list-panel__link {
    text-decoration: none !important;
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
}

.list-panel__link:hover {
    color: var(--theme-color);
}

.row>.thumb {
    margin-bottom: 1rem;
}


/* Thumbnail */
.thumb__link {
    text-decoration: none !important;
}

.thumb__wrapper {
    position: relative;
    cursor: pointer;
    /* background-color: var(--silver); */
}

.a6-ratio {
    position: relative;
    overflow: hidden;
}

.a6-ratio::before {
    content: "";
    display: block;
    padding-top: 140%;
}

.thumb__img-panel {
    position: relative;
    overflow: hidden;

}

.thumb__caption {
    text-align: center;
    color: var(--black);
    font: 700 1rem "Noto Sans KR", sans-serif;
    height: 2.3rem;
    overflow: hidden;
    margin-top: 0.5rem;
}

.thumb__caption:hover,
.thumb:hover .thumb__caption {
    color: var(--theme-color);
}

/* pagination */

.page-list__item {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.3rem 0.75rem;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
}

.page-list__link {
    text-decoration: none !important;
    color: var(--purple);
}

.page-list__item.active {
    background-color: var(--purple);
    border-radius: 50%;
}

.page-list__item.active .page-list__link {
    color: var(--white);
}




/* keyframe */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}