.reading-part {
    user-select: none;
}

.reading-part>p {
    margin-bottom: 2rem;
}
.rd_sidebar-header{
    background-color: black;
    width: 95%;
}
.clear:after{
    clear: both;
}
.clear:after, .clear:before {
    content: " ";
    display: table;
}
.rd_sidebar-header a.img {
    background-size: cover!important;
    float: left;
    height: 110px;
    margin: 10px;
    width: 80px;
}
.rd_sidebar-name {
    color: #fff;
    float: left;
    margin: 0;
    padding: 10px 0;
    width: 300px;
}
.rd_sidebar-name h5 a {
    color: white;
    font-size: 16px;
}
.rd_sidebar-name small {
    display: block;
}
.unstyled {
    list-style: none;
    text-decoration: none;
}
.rd_sidebar #chap_list li {
    margin: 6px 0;
}
.rd_sidebar #chap_list li.current {
    background-color: #ddd;
    border-radius: 4px;
    font-weight: 700;
}
.sub-chap_list {
    margin: 0;
    padding-left: 20px;
}
.rd_sidebar #bookmarks_list li, .rd_sidebar #chap_list li a {
    border-radius: 4px;
    cursor: pointer;
    display: block;
    padding: 6px 10px;
    position: relative;

}
a, a:hover {
    -webkit-text-decoration-skip: objects;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}
