.genre-holder {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.label {
    min-width: 7rem;
    box-sizing: border-box;
    text-align: right;
    margin-right: 0.25rem;
    user-select: none;
}
.sect-body {
    padding: 10px;
    display: block;
    background-color: white;
}
.disabled {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}