.inserted-paragraph {
    background-color: #e6ffe6;
}

.deleted-paragraph {
    background-color: #ffe6e6;
}

.modified-paragraph {
    background-color: #ffffcc;
}

.different {
    font-weight: bold;
}

.inserted-words {
    background-color: #93ff93;
}

.deleted-words {
    background-color: #ff9393;
}

.modified-words {
    background-color: #ffffcc;
}