USE [master]
GO
/****** Object:  Database [NovelWeb]    Script Date: 3/12/2023 7:43:41 PM ******/
CREATE DATABASE [NovelWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NovelWeb', FILENAME = N'D:\APP\MSSQL15.SQLEXPRESS\MSSQL\DATA\NovelWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NovelWeb_log', FILENAME = N'D:\APP\MSSQL15.SQLEXPRESS\MSSQL\DATA\NovelWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NovelWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NovelWeb]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[ID] [int] NOT NULL,
	[VolumeID] [int] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[BodyTemp] [nvarchar](max) NULL,
	[ModifyTime] [datetime] NOT NULL,
	[ChapterOrder] [smallint] NOT NULL,
 CONSTRAINT [PK_Chapter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterMark]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterMark](
	[ID] [int] NOT NULL,
	[ChapterID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_ChapterMark] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[ID] [int] NOT NULL,
	[OwnerID] [int] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[DeactiveBy] [int] NULL,
	[TimeComment] [datetime] NOT NULL,
	[ParentID] [int] NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentReport]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentReport](
	[ID] [int] NOT NULL,
	[CommentID] [int] NOT NULL,
	[ReporterID] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[CheckTime] [datetime] NULL,
 CONSTRAINT [PK_CommentReport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](200) NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Novel]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Novel](
	[ID] [int] NOT NULL,
	[Owner] [int] NOT NULL,
	[Summary] [nvarchar](max) NOT NULL,
	[SummaryTemp] [nvarchar](max) NULL,
	[Name] [nvarchar](200) NOT NULL,
	[NameTemp] [nvarchar](200) NULL,
	[Image] [nvarchar](200) NOT NULL,
	[ImageTemp] [nvarchar](200) NULL,
	[IsPending] [bit] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Novel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NovelGenre]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NovelGenre](
	[GenreID] [int] NOT NULL,
	[NovelID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NovelReport]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NovelReport](
	[ID] [int] NOT NULL,
	[NovelID] [int] NOT NULL,
	[ReporterID] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[CheckTime] [datetime] NOT NULL,
 CONSTRAINT [PK_NovelReport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restriction]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restriction](
	[RestrictedUserID] [int] NOT NULL,
	[RestrictedType] [nvarchar](50) NOT NULL,
	[ExecutorID] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[DueTime] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[Password] [char](32) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Avatar] [varchar](200) NULL,
	[Role] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserToken]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToken](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ValidatorHash] [char](32) NOT NULL,
 CONSTRAINT [PK_UserToken] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volume]    Script Date: 3/12/2023 7:43:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volume](
	[ID] [int] NOT NULL,
	[NovelID] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[NameTemp] [nvarchar](200) NULL,
	[Image] [nvarchar](200) NOT NULL,
	[ImageTemp] [nvarchar](200) NULL,
	[VolumeOrder] [smallint] NOT NULL,
 CONSTRAINT [PK_Volume] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_Volume] FOREIGN KEY([VolumeID])
REFERENCES [dbo].[Volume] ([ID])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_Chapter_Volume]
GO
ALTER TABLE [dbo].[ChapterMark]  WITH CHECK ADD  CONSTRAINT [FK_ChapterMark_Chapter] FOREIGN KEY([ChapterID])
REFERENCES [dbo].[Chapter] ([ID])
GO
ALTER TABLE [dbo].[ChapterMark] CHECK CONSTRAINT [FK_ChapterMark_Chapter]
GO
ALTER TABLE [dbo].[ChapterMark]  WITH CHECK ADD  CONSTRAINT [FK_ChapterMark_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[ChapterMark] CHECK CONSTRAINT [FK_ChapterMark_User]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_comment1] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Comment] ([ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_comment_comment1]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_User] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_comment_User]
GO
ALTER TABLE [dbo].[CommentReport]  WITH CHECK ADD  CONSTRAINT [FK_CommentReport_comment] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comment] ([ID])
GO
ALTER TABLE [dbo].[CommentReport] CHECK CONSTRAINT [FK_CommentReport_comment]
GO
ALTER TABLE [dbo].[CommentReport]  WITH CHECK ADD  CONSTRAINT [FK_CommentReport_User] FOREIGN KEY([ReporterID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[CommentReport] CHECK CONSTRAINT [FK_CommentReport_User]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[NovelGenre]  WITH CHECK ADD  CONSTRAINT [FK_NovelGenre_Genre] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genre] ([ID])
GO
ALTER TABLE [dbo].[NovelGenre] CHECK CONSTRAINT [FK_NovelGenre_Genre]
GO
ALTER TABLE [dbo].[NovelGenre]  WITH CHECK ADD  CONSTRAINT [FK_NovelGenre_Novel] FOREIGN KEY([NovelID])
REFERENCES [dbo].[Novel] ([ID])
GO
ALTER TABLE [dbo].[NovelGenre] CHECK CONSTRAINT [FK_NovelGenre_Novel]
GO
ALTER TABLE [dbo].[NovelReport]  WITH CHECK ADD  CONSTRAINT [FK_NovelReport_Novel] FOREIGN KEY([NovelID])
REFERENCES [dbo].[Novel] ([ID])
GO
ALTER TABLE [dbo].[NovelReport] CHECK CONSTRAINT [FK_NovelReport_Novel]
GO
ALTER TABLE [dbo].[NovelReport]  WITH CHECK ADD  CONSTRAINT [FK_NovelReport_User] FOREIGN KEY([ReporterID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[NovelReport] CHECK CONSTRAINT [FK_NovelReport_User]
GO
ALTER TABLE [dbo].[Restriction]  WITH CHECK ADD  CONSTRAINT [FK_Restriction_User] FOREIGN KEY([ExecutorID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Restriction] CHECK CONSTRAINT [FK_Restriction_User]
GO
ALTER TABLE [dbo].[Restriction]  WITH CHECK ADD  CONSTRAINT [FK_Restriction_User1] FOREIGN KEY([RestrictedUserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Restriction] CHECK CONSTRAINT [FK_Restriction_User1]
GO
ALTER TABLE [dbo].[UserToken]  WITH CHECK ADD  CONSTRAINT [FK_UserToken_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserToken] CHECK CONSTRAINT [FK_UserToken_User]
GO
ALTER TABLE [dbo].[Volume]  WITH CHECK ADD  CONSTRAINT [FK_Volume_Novel] FOREIGN KEY([NovelID])
REFERENCES [dbo].[Novel] ([ID])
GO
ALTER TABLE [dbo].[Volume] CHECK CONSTRAINT [FK_Volume_Novel]
GO
USE [master]
GO
